<div class="wrapper">

    <div class="grid-container justify-content-center mainGrid">
        <div class="grid-item grid-item-1">
            <div class="container  justify-content-center landingbox">
            <div class="container d-flex justify-content-center profile">
                    <img src="../../../assets/edu2.jpeg"  height="200px" width="200px" class="prof" alt="profile picture"/>
            </div>
            <div class="container d-flex justify-content-center desc">
                <p class="desc1">N-Learn</p> </div>
                <div class="container justify-content-center desc">
                <p class="desc2 justify-content-center">Together, we can change the world by sharing knowledge! Welcome to N-Learn! <br>
                    Open the Door to Your Future: Each lesson is a key, each module a door. Open them with confidence, for behind every door lies the promise of a brighter, more enlightened tomorrow.
                <br>
                Explore the Infinite Library: Our courses are the keys to unlock doors of opportunity. From the foundational basics to advanced frontiers, every module is a chapter in your personal odyssey.
                </p>
                   
            </div>
            <div class="container d-flex justify-content-center">
            <a routerLink="/login" routerLinkActive="active" class="loginbtn btn btn-primary btn-lg">Log-In</a>
            </div>
        </div>
        </div>
    </div>
</div> 


