<div class="wrapper">
<div class="login-container">
  <h2>Login</h2>
  <form (ngSubmit)="login()">
    <div class="form-group">
      <label for="userType">I am a:</label>
      <select id="userType" [(ngModel)]="userType" name="userType" required>
        <option value="student" name="student">Student</option>
        <option value="teacher" name="teacher">Teacher</option>
      </select>
    </div>
    <div class="form-group">
      <label for="email">Email</label>
      <input type="email" id="email" placeholder="Enter your email" [(ngModel)]="email" name="email" required>
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" id="password" placeholder="Enter your password" [(ngModel)]="password" name="password" required>
    </div>
    <button type="submit" class="login-button">Login</button>
  </form>
</div>
</div>

