<div class="wrapper">
    <div *ngFor="let module of moduleContent" class="container d-flex justify-content-center">
        <p class="welcome"> {{ module.modID }} - FULL-STACK DEVELOPMENT </p>
      </div>
      <div *ngFor="let module of moduleContent" class="container justify-content-center cardmod" [ngClass]="getCardClass(module.contentType)">
        <p class="title"> {{ getCardContentTitle(module.contentType) }}</p>
      </div>
                <div class="container justify-content-center cardmod">
                    <p class="title"> Submissions</p>
                    </div>
   
</div>
