.maing{
    min-height: 90vh;
    padding-top: 20px;
}

.notifybox{
    padding-top: 20px;
    border-style: groove;
    border-color:2px solid #134a69;

}

.btcon{
    background-image: linear-gradient(to right top, #227f99, #5194a8, #75a8b8, #97bec9, #b8d3da);
    color: #031e2e;
    font-weight: bold;
    margin-bottom: 20px;
}
.nt{
    justify-self: center !important;
    font-weight: bold;
    font-size: large;
    color: #134a69;
}