<div class="wrapper">
    <div class="container grdnote">
        Available Marks - Year 3 Semeseter 1
    </div>
    <div class="grid-container maing">
        <div *ngFor="let header of ['Module', 'Examination', 'Coursework', 'Total marks', 'Grade']" class="griditem grid-item-1 grids">
          {{ header }}
        </div>
      </div>
    
      <div class="grid-container maing" *ngFor="let grade of grades">
        <div class="griditem grid-item-1 g1 grids">
          {{ grade.modID }}
        </div>
        <div class="griditem grid-item-1 g2 grids">
          {{ grade.exammark }}
        </div>
        <div class="griditem grid-item-1 g3 grids">
          {{ grade.assignmark }}
        </div>
        <div class="griditem grid-item-1 g4 grids">
          {{ grade.totalmark }}
        </div>
        <div class="griditem grid-item-1 g5 grids">
          {{ grade.grade }}
        </div>
      </div>
    <div class="container d-flex justify-content-center">
        <form (submit)="downloadResults()">
            <button type="submit" class="btn btcon btn-primary btn-lg">Download Results</button>
          </form>
    </div>
</div>
