.wrapper{
    min-height: 90vh;

& .maing{
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(5, 20%);
    border-style: groove;

    }
& .grdnote{
    padding-top: 20px;
    font-weight: bold;
    font-size: large;
    color: rgb(13, 52, 65);
}
&.btcon{
    background-image: linear-gradient(to right top, #227f99, #5194a8, #75a8b8, #97bec9, #b8d3da);
    color: #031e2e;
    font-weight: bold;
    margin-bottom: 20px;
}
}