<div class="wrapper">
    <div class="container grdnote">
        Available Marks - Year 3 Semeseter 1
    </div>
    <div class="grid-container maing">
        <div class="griditem grid-item-1 grids">
            Module
        </div>
        <div class="griditem grid-item-1 grids">
            Examination
        </div>
        <div class="griditem grid-item-1 grids">
             Coursework
        </div>
        <div class="griditem grid-item-1 grids">
            Total marks
        </div>
        <div class="griditem grid-item-1 grids">
            Grade
        </div>
    </div>
    <div class="grid-container maing">
        <div class="griditem grid-item-1 grids">
            PUSL3031 - Full Stack Development
        </div>
        <div class="griditem grid-item-1 grids">
            80.50
        </div>
        <div class="griditem grid-item-1 grids">
             60.21
        </div>
        <div class="griditem grid-item-1 grids">
             70.84
        </div>
        <div class="griditem grid-item-1 grids">
            A
        </div>
    </div>
    <div class="container d-flex justify-content-center">
        <form>

          <button type="submit" class="btn btcon btn-primary btn-lg"> Download Results</button>
        </form>
    </div>
</div>
