<div class="grid-container justify-content-center maing">
    <div class="container justify-content-center">
        <p class="modt"> Your Modules:</p>
    </div>
    <div class="container justify-content-center cardcon">
        <div class="container d-flex modcard" *ngFor="let moduleName of moduleNames">
            <p class="mod"> <a [routerLink]="'/modulecontent/' + moduleName.modID"  routerLinkActive="active"  class="nav-link"> </a> 
                {{moduleName.modname }} - {{moduleName.modID}}
            </p>
        </div>
    </div>
</div>
