<div class="grid-container justify-content-center maing">
    <div class="container justify-content-center">
        <p class="modt"> Your Modules:</p>
    </div>
    <div class="container justify-content-center cardcon">
        <div class="container d-flex modcard" *ngFor="let moduleName of moduleNames">
            <p class="mod"> <a [routerLink]="'/modulecontent/' + moduleName"  routerLinkActive="active"  class="nav-link"> </a> 
                {{ moduleName }}
            </p>
        </div>
        <div class="container d-flex modcard">
            <p class="mod"> PUSL1021 - COMPUTING FINAL PROJECT</p>
        </div>
    </div>
</div>
