<div class="wrapper">
    <div class="grid-container justify-content-center mainGrid">
        <div class="grid-item grid-item-1 grids">
            <div class="container d-flex justify-content-center ">
            </div>
        </div>
        <div class="grid-item grid-item-2 grids">
            <div class="container d-flex justify-content-center ">
                <form>
                    <button type="submit" class="btn btcon btn-primary btn-lg">Delete</button>
                  </form>
            </div>
        </div>
        <div class="grid-item grid-item-3 grids">
            <div class="container d-flex justify-content-center ">
                <a routerLink="/editnote" routerLinkActive="active" class="btcon btn btn-primary btn-lg">Edit</a>
            </div>
        </div>
    </div>
</div>
